
# Does not work!!!
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
#!.vscode/*.code-snippets

# Vscode configs - works  ;)
.vscode/
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# Binaries and debugs
bin/
obj/